
.container {
    width: 200px;
    height: 340px;
    background:rgb(19, 7, 7);
    margin-left:707px;
    position: absolute;
    bottom: 300px;
    
}
h1{
    font-size: 25px;
    margin-left: 35PX;
color:  beige;   
}
button{
    width: 150px;
    height:30px;
    margin:13px;
    margin-left: 23px;
    border:10px ;
    border-radius: 2px;
    background: orangered;
}
input{
    width:150px;
    height: 20px;
    margin:3px;
    margin-left: 23px;
    border: 10px;
    border-radius: 2px;
}
body{
    background-image:url(img/pro.jpg);
}